<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div><a href="/users">Home</a></div>
        <div>
            <h1>Edit User {{one_user.id}}</h1>
            <form class="form" action="/users/edit_user" method="POST">
                
                <div class="mb-3">
                    <label class="form-label" for="first_name"> First Name: </label>
                    <input class="form-control" type="text" name="first_name" placeholder="{{one_user.first_name}}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="last_name"> Last Name: </label>
                    <input class="form-control" type="text" name="last_name" placeholder="{{one_user.last_name}}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email"> Email: </label>
                    <input class="form-control" type="text" name="email" placeholder="{{one_user.email}}">
                </div>
                <input class="btn btn-primary mb-3" type="submit" value='submit'> <a href="/user/{{one_user.id}}">Show
                    User</a>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</html>